<!DOCTYPE html>
<html lang="en" data-theme="lemonade">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" rel="icon" href="/public/images/favicon/icons8-note-cloud-16.png">
    <link rel="icon" type="image/png" sizes="32x32" rel="icon" href="/public/images/favicon/icons8-note-cloud-32.png">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- DAISY UI CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- TAILWIND CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Notebook - Keeps your thought safe</title>
  </head>
  <body>
    <!-- START NAVBAR -->
    <div class="h-[90px] navbar bg-[#a7c9bf] border-b border-b-black">
      <div class="navbar-start">
          <div class="dropdown">
              <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16" />
                  </svg>
              </div>
              <ul tabindex="0"
                  class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-xl bg-black text-[#f8fdef] rounded-lg w-52">
                  <li class="font-semibold"><a href="/">Home</a></li>
                  <li class="font-semibold"><a href="/views/about.ejs">About</a></li>
                  <li class="font-semibold"><a href="/views/faq.ejs">FAQ</a></li>
              </ul>
          </div>
          <a href="/" class="btn btn-ghost text-xl">
            <a href="/" class="btn btn-ghost text-xl">
              <img width="50" height="50" src="https://img.icons8.com/clouds/30/apple-notes.png" alt="apple-notes"/>
              NoteBook</a>
      </div>
      <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
              <li class="font-semibold"><a href="/">Home</a></li>
              <li class="font-semibold"><a href="/about">About</a></li>
              <li class="font-semibold"><a href="/faq">FAQ</a></li>
          </ul>
      </div>
      <div class="navbar-end">
        <a href="/sign-in" class="btn">Sign In</a>
      </div>
  </div>
  <!-- END NAVBAR -->
    <section>
      <div
        class="flex items-center justify-center py-14 lg:py-28 px-4 pt-20 sm:px-6 sm:pt-16 lg:px-8 lg:pt-24 bg-gray-100 dark:bg-gray-900 text-whitw dark:text-white"
      >
        <div class="w-full md:mx-auto md:w-full md:max-w-sm xl:max-w-md">
          <div class="mb-2 flex justify-center space-x-2">
            <a href="/" class="btn btn-ghost text-xl">
            <img width="50" height="50" src="https://img.icons8.com/clouds/30/apple-notes.png" alt="apple-notes"/>
              NoteBook</a
            >
          </div>
          <h2 class="text-center text-2xl font-bold leading-tight">
            Sign up to your account
          </h2>
          <p class="mt-2 text-center text-base">
            Already have an account?
            <a
              href="/sign-in"
              class="font-medium transition-all duration-200 hover:underline"
            >
              Sign In
            </a>
          </p>
          <form action="/users/sign-up" method="post" class="mt-8">
            <div class="space-y-5">
              <div>
                <label
                  for="fullName"
                  class="text-base font-medium"
                >
                  Full Name
                </label>
                <div class="mt-2">
                  <input
                    class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                    type="text0"
                    placeholder="Full Name"
                    id="fullName"
                    name="fullName"
                    required
                  />
                </div>
              </div>
              <div>
                <label for="email" class="text-base font-medium">
                  Email address
                </label>
                <div class="mt-2">
                  <input
                    class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                    type="email"
                    placeholder="Email"
                    id="email"
                    name="email"
                    required
                  />
                </div>
              </div>
              <div>
                <div class="flex items-center justify-between">
                  <label
                    for="password"
                    class="text-base font-medium"
                  >
                    Password
                  </label>
                </div>
                <div class="mt-2">
                  <input
                    class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                    type="password"
                    placeholder="Password"
                    id="password"
                    name="password"
                    required
                  />
                </div>
              </div>
                <button
                  type="submit"
                  class="inline-flex w-full items-center justify-center rounded-md bg-black px-3.5 py-2.5 font-semibold leading-7 text-white hover:bg-black/80"
                >
                  Get started
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ml-2"
                  >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer footer-center px-4 py-6 bg-[#a7c9bf] text-base-content" >
      <aside>
          <p>
              Copyright © 2024 - All rights reserved by
              <a href="https://github.com/iamtheritikraj" target="_blank" class="font-semibold">@Ritik Raj</a>
          </p>
      </aside>
  </footer>
  </body>
</html>